# MongoDB

Based on https://docs.mongodb.com/getting-started

MongoDB is a **NoSQL** open-source **document database**.  MongoDB provides horizontal scaling by replicating and partitioning the data over multiple nodes. This can improve the reliability and scalability of the system.

A record in MongoDB is a **document**, which is a data structure composed of field and value pairs. MongoDB documents are similar to JSON objects or Python dictionaries. The values of fields may include other documents, arrays, and arrays of documents.

This is an example of a document:
```JSON
{
   "_id" : ObjectId("54c955492b7c8eb21818bd09"),
   "address" : {
      "street" : "2 Avenue",
      "zipcode" : "10075",
      "building" : "1480",
      "coord" : [ -73.9557413, 40.7720266 ]
   },
   "borough" : "Manhattan",
   "cuisine" : "Italian",
   "grades" : [
      {
         "date" : ISODate("2014-10-01T00:00:00Z"),
         "grade" : "A",
         "score" : 11
      },
      {
         "date" : ISODate("2014-01-16T00:00:00Z"),
         "grade" : "B",
         "score" : 17
      }
   ],
   "name" : "Vella",
   "restaurant_id" : "41704620"
}
```
In MongoDB, documents have a unique **_id** field that acts as a primary key. MongoDB automatically adds a unique _id to each document if you are not providing it by yourself.

MongoDB stores documents in **collections**. Collections are analogous to tables in relational databases. Unlike a table, however, a collection does not require its documents to have the same schema.

You can start a Docker image with MongoDB like this:
```bash
docker run -p 27017:27017 -d mongo:4.0-xenial
```

In production you really (!) would need to enable authentication with username and password, but for development purposes this is fine.

In [1]:
# Install the pymongo Python Package 
#!pip3 install pymongo

Collecting pymongo
  Downloading pymongo-3.10.1-cp37-cp37m-win_amd64.whl (354 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.10.1

In [1]:
from pymongo import MongoClient
from pprint import pprint
import requests

Use MongoClient to create a connection. If you do not specify any arguments to MongoClient, then MongoClient defaults to the MongoDB instance that runs on the localhost interface on port 27017. You can also specify a complete MongoDB URI to define the connection, including explicitly specifying the host and port number. For example, the following creates a connection to a MongoDB instance that runs on mongodb0.example.net and the port of 27017: client = MongoClient("mongodb://mongodb0.example.net:27017")

In [2]:
# Client connects to "localhost" by default 
client = MongoClient()

In [8]:
?MongoClient

The first fundamental class of objects you will interact with using pymongo is Database which represents the database construct in MongoDB. Databases hold groups of logically related collections. MongoDB creates new databases implicitly upon their first use. Connect (create) with a database of your name, e.g. 

```python
db = client["rolandmueller"]
``` 
or 

```python
db = client.rolandmueller
```

In [3]:
# Create local "bipm" database on the fly 
db = client['bipm']

In [4]:
# When we rerun the whole notebook, we start from scratch 
# by dropping the colection "courses"
db.courses.drop()
#https://stackoverflow.com/questions/60839470/pymongo-errors-serverselectiontimeouterrorlocalhost27017winerror-10061no-co

In [10]:
?db.course.drop

In [5]:
# Create a Python Dictonary
courses = [
    {'title': 'Data Science',
     'lecturer': {
         'name': 'Markus Löcher',
         'department': 'Math',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Data Warehousing',
     'lecturer': {
         'name': 'Roland M. Mueller',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Business Process Management',
     'lecturer': {
         'name': 'Frank Habermann',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Stratigic Issues of IT',
     'lecturer': {
         'name': 'Sven Pohland',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 1},
    {'title': 'Text, Web and Social Media Analytics Lab',
     'lecturer': {
         'name': 'Markus Löcher',
         'department': 'Math',
         'status': 'Professor'
     },
     'semester': 2},
    {'title': 'Enterprise Architectures for Big Data',
     'lecturer': {
         'name': 'Roland M. Mueller',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 2},
    {'title': 'Business Process Integration Lab',
     'lecturer': {
         'name': 'Frank Habermann',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 2},
    {'title': 'IT-Security and Privacy',
     'lecturer': {
         'name': 'Dennis Uckel',
         'department': 'Information Systems',
         'status': 'External'
     },
     'semester': 2},
    {'title': 'Research Methods',
     'lecturer': {
         'name': 'Marcus Birkenkrahe',
         'department': 'Information Systems',
         'status': 'Professor'
     },
     'semester': 2},
]

In [6]:
pprint(courses)

[{'lecturer': {'department': 'Math',
               'name': 'Markus Löcher',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Data Science'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Roland M. Mueller',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Data Warehousing'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Frank Habermann',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Business Process Management'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Sven Pohland',
               'status': 'Professor'},
  'semester': 1,
  'title': 'Stratigic Issues of IT'},
 {'lecturer': {'department': 'Math',
               'name': 'Markus Löcher',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Text, Web and Social Media Analytics Lab'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Roland M. Mueller',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Enterprise Architectures for Big Data'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Frank Habermann',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Business Process Integration Lab'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Dennis Uckel',
               'status': 'External'},
  'semester': 2,
  'title': 'IT-Security and Privacy'},
 {'lecturer': {'department': 'Information Systems',
               'name': 'Marcus Birkenkrahe',
               'status': 'Professor'},
  'semester': 2,
  'title': 'Research Methods'}]

## insert_many()

You can use the `insert_one()` method and the `insert_many()` method to add documents to a collection in MongoDB. If you attempt to add documents to a collection that does not exist, MongoDB will create the collection for you.

In [7]:
db.courses.insert_many(courses)

## find()

You can use the find() method to issue a query to retrieve data from a collection in MongoDB. All queries in MongoDB have the scope of a single collection.
Queries can return all documents in a collection or only the documents that match a specified filter or criteria. You can specify the filter or criteria in a document and pass as a parameter to the find() method. With no parameter, find() returns all documents in the collection.

The find() method returns query results in a cursor, which is an iterable object that yields documents. Then you can print all documents.

```python
cursor = db.my_collection.find()

for document in cursor:
    pprint(document)
```

In [8]:
# TODO: Print all courses
course_all = db.courses.find()
for course in course_all:
    pprint(course)

{'_id': ObjectId('5ed23948debba62a1c64e308'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Data Science'}
{'_id': ObjectId('5ed23948debba62a1c64e309'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Roland M. Mueller',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Data Warehousing'}
{'_id': ObjectId('5ed23948debba62a1c64e30a'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Frank Habermann',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Business Process Management'}
{'_id': ObjectId('5ed23948debba62a1c64e30b'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Sven Pohland',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Stratigic Issues of IT'}
{'_id': ObjectId('5ed23948debba62a1c64e30c'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Text, Web and Social Media Analytics Lab'}
{'_id': ObjectId('5ed23948debba62a1c64e30d'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Roland M. Mueller',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Enterprise Architectures for Big Data'}
{'_id': ObjectId('5ed23948debba62a1c64e30e'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Frank Habermann',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Business Process Integration Lab'}
{'_id': ObjectId('5ed23948debba62a1c64e30f'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Dennis Uckel',
              'status': 'External'},
 'semester': 2,
 'title': 'IT-Security and Privacy'}
{'_id': ObjectId('5ed23948debba62a1c64e310'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Marcus Birkenkrahe',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Research Methods'}

## JSON

You can store a JSON document if you convert it before to a Python dictionary:

In [10]:
import json
my_json = '{"title": "Master Thesis", "semester": 3}'
another_course = json.loads(my_json)
another_course

{'title': 'Master Thesis', 'semester': 3}

## insert_one()

The `insert_one()` method adds the document into the collection.

In [11]:
# TODO: Store `another_course` as another course:
db.courses.insert_one(another_course)

In [12]:
# TODO: Print all courses
course_all = db.courses.find()
for course in course_all:
    pprint(course)

{'_id': ObjectId('5ed23948debba62a1c64e308'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Data Science'}
{'_id': ObjectId('5ed23948debba62a1c64e309'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Roland M. Mueller',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Data Warehousing'}
{'_id': ObjectId('5ed23948debba62a1c64e30a'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Frank Habermann',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Business Process Management'}
{'_id': ObjectId('5ed23948debba62a1c64e30b'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Sven Pohland',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Stratigic Issues of IT'}
{'_id': ObjectId('5ed23948debba62a1c64e30c'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Text, Web and Social Media Analytics Lab'}
{'_id': ObjectId('5ed23948debba62a1c64e30d'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Roland M. Mueller',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Enterprise Architectures for Big Data'}
{'_id': ObjectId('5ed23948debba62a1c64e30e'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Frank Habermann',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Business Process Integration Lab'}
{'_id': ObjectId('5ed23948debba62a1c64e30f'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Dennis Uckel',
              'status': 'External'},
 'semester': 2,
 'title': 'IT-Security and Privacy'}
{'_id': ObjectId('5ed23948debba62a1c64e310'),
 'lecturer': {'department': 'Information Systems',
              'name': 'Marcus Birkenkrahe',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Research Methods'}
{'_id': ObjectId('5ed23a2cdebba62a1c64e311'),
 'semester': 3,
 'title': 'Master Thesis'}

## find_one() and find()

`find_one()` returns the first match. ```find()```returns all matches.

The query condition for `find_one()` and `find()` for an equality match on fields has the following form:
```python
{ <field1>: <value1>, <field2>: <value2>, ... } 
```

The following operation finds the first documents whose name field equals "Manhattan".

```python
cursor = db.restaurants.find_one({"name": "Manhattan"})
```

In [13]:
# TODO: Find the course with the title "Data Science" 
# save the result in a varibale result
# and pprint the result.
result = db.courses.find_one({'title':'Data Science'})
pprint(result)

{'_id': ObjectId('5ed23948debba62a1c64e308'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 1,
 'title': 'Data Science'}

In [14]:
print(result["_id"])
print(result["lecturer"]["name"])

5ed23948debba62a1c64e308
Markus Löcher

In [15]:
# TODO: Find the first course (one course) in the second semester
# and print it
result2 = db.courses.find_one({'semester':2})
pprint(result2)

{'_id': ObjectId('5ed23948debba62a1c64e30c'),
 'lecturer': {'department': 'Math',
              'name': 'Markus Löcher',
              'status': 'Professor'},
 'semester': 2,
 'title': 'Text, Web and Social Media Analytics Lab'}

In [24]:
# TODO: Find all courses in the second semester
# and print the course titles
result3 = db.courses.find({'semester':2})
for course in result3:
    pprint(course['title'])

'Text, Web and Social Media Analytics Lab'
'Enterprise Architectures for Big Data'
'Business Process Integration Lab'
'IT-Security and Privacy'
'Research Methods'

In [27]:
# TODO: Find all courses in the second semester
# and print the lecturers names
result4 = db.courses.find({'semester':2})
for course in result4:
    pprint(course['lecturer']['name'])

'Markus Löcher'
'Roland M. Mueller'
'Frank Habermann'
'Dennis Uckel'
'Marcus Birkenkrahe'

## Subelements

Sometimes documents contains embedded documents as its elements. To specify a condition on a field in these documents, use the dot notation. Dot notation requires quotes around the whole dotted field name. The following queries for documents whose grades array contains an embedded document with a field grade equal to "B".

```python
cursor = db.restaurants.find({"grades.grade": "B"})
```

In [30]:
# TODO: Find all courses of Frank Habermann
# and print the title and the semester
result5 = db.courses.find({'lecturer.name':'Frank Habermann'})
for course in result5:
    pprint('title: {}, semester:{}'.format(course['title'],course['semester']))

'title: Business Process Management, semester:1'
'title: Business Process Integration Lab, semester:2'

## Logical AND

You can specify a logical conjunction (AND) for a list of query conditions by separating the conditions with a comma in the conditions document.

```python
cursor = db.restaurants.find({"cuisine": "Italian", "address.zipcode": "10075"})
```

In [32]:
# TODO: Find all courses from Frank Habermann in the second semester
# and print the title and the semester
result6 = db.courses.find({'lecturer.name':'Frank Habermann', 'semester':2})
for course in result6:
    pprint('title: {}, semester:{}'.format(course['title'],course['semester']))

'title: Business Process Integration Lab, semester:2'

## Logical OR

You can specify a logical disjunction (OR) for a list of query conditions by using the $or query operator.

```python
cursor = db.restaurants.find({"$or": [{"cuisine": "Italian"}, {"address.zipcode": "10075"}]})
```

In [33]:
# TODO: Find all courses from Frank Habermann or Markus Löcher
# and print the title and the semester
result7 = db.courses.find({'$or':[{'lecturer.name':'Frank Habermann'},{'lecturer.name':'Markus Löcher'}]})
for course in result7:
    pprint('title:{}, semester:{}'.format(course['title'],course['semester']))

'title:Data Science, semester:1'
'title:Business Process Management, semester:1'
'title:Text, Web and Social Media Analytics Lab, semester:2'
'title:Business Process Integration Lab, semester:2'

## Greater than, Less than

MongoDB provides operators to specify query conditions, such as comparison operators. Query conditions using operators generally have the following form:
```python
{ <field1>: { <operator1>: <value1> } }
```

Greater Than Operator (`$gt`). Query for documents whose grades array contains an embedded document with a field score greater than 30.

```python
cursor = db.restaurants.find({"grades.score": {"$gt": 30}})
```

Less Than Operator (`$lt`). Query for documents whose grades array contains an embedded document with a field score less than 10.

```python
cursor = db.restaurants.find({"grades.score": {"$lt": 10}})
```

In [36]:
# TODO: Find all courses in semester greater than 1
# and print the title and the semester
result8 = db.courses.find({'semester':{'$gt':1}})
for course in result8:
    pprint('title:{}, semester:{}'.format(course['title'],course['semester']))

'title:Text, Web and Social Media Analytics Lab, semester:2'
'title:Enterprise Architectures for Big Data, semester:2'
'title:Business Process Integration Lab, semester:2'
'title:IT-Security and Privacy, semester:2'
'title:Research Methods, semester:2'
'title:Master Thesis, semester:3'

## Counting

`count_documents()` works like `find()` but returns the number of matched documents-

In [37]:
# TODO: How many courses are in the second semester?
result9 = db.courses.count_documents({'semester':2})
pprint(result9)

5

# Downloading Nobel Prize Winners with an API and storing them in MongoDB

![](https://upload.wikimedia.org/wikipedia/en/e/ed/Nobel_Prize.png)
The Nobel Prize offers a Web API https://nobelprize.readme.io/docs/prize

Because the API is giving us JSON and MongoDB is able to store documents in a JSON-like format, using a document database like MongoDB seems like a good fit to store the results of the API.  You can get all laureates at http://api.nobelprize.org/v1/laureate.json and all prizes at http://api.nobelprize.org/v1/prize.json

We will just download all laureates and prizes and store them in MongoDB!

In [38]:
# Create local "nobel" database on the fly 
db = client["nobel"]
db.prizes.drop()
db.laureates.drop()
# API documented at https://nobelprize.readme.io/docs/prize 
for collection_name in ["prizes", "laureates"]:
    singular = collection_name[:-1] # the API uses singular
    response = requests.get( "http://api.nobelprize.org/v1/{}.json".format(singular)) 
    documents = response.json()[collection_name] 
    # Create collections on the fly 
    db[collection_name].insert_many(documents)

In [42]:
# TODO: Print the first name of the first document
sample = db.laureates.find_one()
pprint(sample['firstname'])

'Wilhelm Conrad'

With `count_documents` you can count the number of matching documents.

In [43]:
# How many female laureates exists? 
db.laureates.count_documents({'gender':'female'})

53

With the `$regex` function you can use a regular expression. `distinct` list only all distinct entries.

In [48]:
db.laureates.distinct("bornCountry", {"bornCountry": {"$regex": "Germany"}})

['Prussia (now Germany)',
 'Hesse-Kassel (now Germany)',
 'Germany',
 'Schleswig (now Germany)',
 'Germany (now Poland)',
 'Germany (now France)',
 'West Germany (now Germany)',
 'Bavaria (now Germany)',
 'Germany (now Russia)',
 'Mecklenburg (now Germany)',
 'W&uuml;rttemberg (now Germany)',
 'East Friesland (now Germany)']

In [48]:
# TODO: How many laureates are from Germany?
count_ger = db.laureates.count_documents({"bornCountry": {"$regex": "Germany"}})
print(count_ger)

95

In [57]:
# TODO: Find all physics nobel laureates that are from Germany
# print the year of the first prize, the first name, and surename
laureate1 = db.laureates.find({"bornCountry": {"$regex": "Germany"},'prizes.category':'physics'})
for laureate in laureate1:
    pprint('first prize:{}, firstname:{}, surname:{}'.format(laureate['prizes'][0]['year'], laureate['firstname'],laureate['surname']))

'first prize:1901, firstname:Wilhelm Conrad, surname:Röntgen'
'first prize:1909, firstname:Ferdinand, surname:Braun'
'first prize:1914, firstname:Max, surname:von Laue'
'first prize:1918, firstname:Max, surname:Planck'
'first prize:1919, firstname:Johannes, surname:Stark'
'first prize:1921, firstname:Albert, surname:Einstein'
'first prize:1925, firstname:James, surname:Franck'
'first prize:1925, firstname:Gustav, surname:Hertz'
'first prize:1932, firstname:Werner, surname:Heisenberg'
'first prize:1943, firstname:Otto, surname:Stern'
'first prize:1954, firstname:Max, surname:Born'
'first prize:1954, firstname:Walther, surname:Bothe'
'first prize:1955, firstname:Polykarp, surname:Kusch'
'first prize:1961, firstname:Rudolf, surname:Mössbauer'
'first prize:1963, firstname:Maria, surname:Goeppert Mayer'
'first prize:1963, firstname:J. Hans D., surname:Jensen'
'first prize:1966, firstname:Alfred, surname:Kastler'
'first prize:1967, firstname:Hans, surname:Bethe'
'first prize:1978, firstname:Arno, surname:Penzias'
'first prize:1986, firstname:Ernst, surname:Ruska'
'first prize:1986, firstname:Gerd, surname:Binnig'
'first prize:1987, firstname:J. Georg, surname:Bednorz'
'first prize:1988, firstname:Jack, surname:Steinberger'
'first prize:1989, firstname:Hans G., surname:Dehmelt'
'first prize:1989, firstname:Wolfgang, surname:Paul'
'first prize:1998, firstname:Horst L., surname:Störmer'
'first prize:2000, firstname:Herbert, surname:Kroemer'
'first prize:2001, firstname:Wolfgang, surname:Ketterle'
'first prize:2005, firstname:Theodor W., surname:Hänsch'
'first prize:2017, firstname:Rainer, surname:Weiss'

In [59]:
# TODO: find and print the document for "Malala" (firstname)
malalas = db.laureates.find({'firstname':'Malala'})
for malala in malalas:
    pprint(malala)

{'_id': ObjectId('5ed241a5debba62a1c64e908'),
 'born': '1997-07-12',
 'bornCity': 'Mingora',
 'bornCountry': 'Pakistan',
 'bornCountryCode': 'PK',
 'died': '0000-00-00',
 'firstname': 'Malala',
 'gender': 'female',
 'id': '914',
 'prizes': [{'affiliations': [[]],
             'category': 'peace',
             'motivation': '"for their struggle against the suppression of '
                           'children and young people and for the right of all '
                           'children to education"',
             'share': '2',
             'year': '2014'}],
 'surname': 'Yousafzai'}

## Sort()

With `sort()` you can sort the list of documents. The parameter of sort is a list of sorting tuples. Each tuple is a value and an integer value 1 or -1 which states whether the collection to be sorted in ascending (1) or descending (-1) order.

Sort all restaurants according to the grade in ascending order.
```python
cursor = db.restaurants.find().sort([("grades.grade", 1)])
```

In [80]:
# TODO: Find only female nobel laureates 
# and sort them according the the prize year in ascending order
# print year of the first prize, firstname, and surename
female_ls = db.laureates.find({'gender':'female'}).sort([('prizes.year',1)])
for female_l in female_ls:
    pprint('first prize:{}, firstname:{}, surename:{}'.format(female_l['prizes'][0]['year'], female_l['firstname'],female_l['surname']))

'first prize:1903, firstname:Marie, surename:Curie'
'first prize:1905, firstname:Bertha, surename:von Suttner'
'first prize:1909, firstname:Selma, surename:Lagerlöf'
'first prize:1926, firstname:Grazia, surename:Deledda'
'first prize:1928, firstname:Sigrid, surename:Undset'
'first prize:1931, firstname:Jane, surename:Addams'
'first prize:1935, firstname:Irène, surename:Joliot-Curie'
'first prize:1938, firstname:Pearl, surename:Buck'
'first prize:1945, firstname:Gabriela, surename:Mistral'
'first prize:1946, firstname:Emily Greene, surename:Balch'
'first prize:1947, firstname:Gerty, surename:Cori'
'first prize:1963, firstname:Maria, surename:Goeppert Mayer'
'first prize:1964, firstname:Dorothy Crowfoot, surename:Hodgkin'
'first prize:1966, firstname:Nelly, surename:Sachs'
'first prize:1976, firstname:Betty, surename:Williams'
'first prize:1976, firstname:Mairead, surename:Corrigan'
'first prize:1977, firstname:Rosalyn, surename:Yalow'
'first prize:1979, firstname:Anjezë Gonxhe, surename:Bojaxhiu'
'first prize:1982, firstname:Alva, surename:Myrdal'
'first prize:1983, firstname:Barbara, surename:McClintock'
'first prize:1986, firstname:Rita, surename:Levi-Montalcini'
'first prize:1988, firstname:Gertrude B., surename:Elion'

KeyError: 'surname'